/*
COLORS:

Light red: #ff4d4d
Medium red: #ff3838
Dark red: #EA2027

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485
*/

$Light-red: #ff4d4d;
$Medium-red: #ff3838;
$Dark-red: #ea2027;

$Light-green: #7ed56f;
$Medium-green: #55c57a;
$Dark-green: #28b485;

$Light-Grey: #777;
$white-color: #fff;
$Black-color: #000;
$Very-light-grey: #afafaf;
$Dark-grey: #464646;

$Blue-light: #2998ff;
$Blue-dark: #5643fa;

$Orange-light: #ffb900;
$Orange-dark: #ff7730;

$Very-light-grey: #f7f7f7;

$default-font-size: 1.6rem;

$Grid-Width: 114rem;
$Gutter-vertical: 8rem;
$Gutter-vertical-small: 6rem;
$Gutter-horizontal: 6rem;

$Box-shadow: 0 1.5rem 4rem rgba($Black-color, 0.15);
